/Course/.VS/
/Primeiro/.VS/
/Exec01/.VS/
/Exec02/.VS/
/URI_1002/.VS/
/URI_1003/.VS/
/URI_1007/.VS/
/MyTesteApp/.VS/
/LadosTriangulo/.VS/
/LadosTrianguloInClass/.VS/
/Cap4Exe01/.VS/
/Cap4Exe02/.VS/
/Cap4Exemplo01/.VS/
/Cap4Exemplo02/.VS/
/Cap4ExeProp01/.VS/
/Cap4ExeProp02/.VS/
/Cap4ExeProp03/.VS/
/Cap4ExeProp04/.VS/
/Cap4Exemplo03Calculadora/.VS/
/Cap5Exemplo01/.VS/
/Cap5Exemplo02/.VS/
/Cap05Exemplo03AutoProperties/.VS/
/Cap05Exe01/.VS/
/Cap6Exe01Structs/.VS/
/Cap06Exe02Nullable/.VS/
/Cap06Exe03MediaAltura/.VS/
/Cap06Exe03PrecoMedioProduto/.VS/
/Cap06ExeProp01/.VS/
/Cap06Exe04ModificadorParam/.VS/
/Cap06Exe05ModificadorRefOut/.VS/