/Course/.VS/
/Primeiro/.VS/
/Exec01/.VS/
/Exec02/.VS/
/URI_1002/.VS/
/URI_1003/.VS/
/URI_1007/.VS/
/MyTesteApp/.VS/
/LadosTriangulo/.VS/
/LadosTrianguloInClass/.VS/
/Cap4Exe01/.VS/
/Cap4Exe02/.VS/
/Cap4Exemplo01/.VS/
/Cap4Exemplo02/.VS/
/Cap4ExeProp01/.VS/
/Cap4ExeProp02/.VS/
/Cap4ExeProp03/.VS/
/Cap4ExeProp04/.VS/
/Cap4Exemplo03Calculadora/.VS/
